.countryCard {
  width: 190px;
  height: 250px;
  flex-shrink: 0;
  box-shadow: 0 0 5px #afafaf;
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
}

.countryCard:hover {
  box-shadow: 0 0 5px #303030;
}

.flag img {
  width: 100%;
}

.summary {
  text-align: left;
  font-size: 12px;
  padding: 0 15px;
}

.title {
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.summary ul {
  list-style: none;
  padding-left: 0;
}
