.chip {
  font-size: 12px;
  background-color: rgb(0, 153, 255);
  color: #fff;
  padding: 3px 8px;
  border-radius: 4px;
  margin-right: 2px;
}

button {
  margin-left: 5px;
  border: none;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 0 3px;
  cursor: pointer;
  background-color: rgb(0, 153, 255);
  color: #fff;
}

button:hover {
  background-color: rgb(77, 184, 255);
}
