body {
  background-color: #fafafa;
}

.countryCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  float: left;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.input,
.select {
  width: 300px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #767676;
}
