body {
  background-color: #fafafa;
}

.countryCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 300px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #767676;
}

.select {
  width: 150px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #767676;
}

.selectItems {
  margin-left: 10px;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #767676;
}

.select option,
.selectItems option {
  font-size: 18px;
}

.loading {
  font-size: 16px;
}
