.option {
  list-style-type: none;
  display: block;
  padding: 6px 4px;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid #cde9ff;
}

.option:hover,
.option[data-selected="true"]:hover {
  background-color: #cde9ff;
}

.option[data-selected="true"] {
  background-color: #dcf0ff;
  font-weight: 600;
}
