h1 {
  color: #5287ed;
}

input[type="text"] {
  width: 300px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #767676;
}

.button {
  border: none;
  background-color: #6c99ec;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: #5287ed;
}

.button:disabled {
  opacity: 0.3;
}

.addCourses {
  position: relative;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  font-size: 18px;
}
