.list {
  text-align: left;
  border: 1px solid #5287ed;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
}

.listItem {
  list-style: none;
  padding: 3px 20px;
}

.listItem:nth-child(odd) {
  background-color: #fafafa;
}
